*{
    padding: 0px ;
    margin: 0px;
    box-sizing: border-box;

}


.position_box{
    border: 2px solid black;
    height: 900px;
    width: 300px;
    margin: 10px 0px;
    background-color: aquamarine;
    position: relative;
}

.position_box1{
    background-color: gray;
    height: 50px;
    width: 100px;
    margin: 5px 2px;

   position: fixed;
   top: 0px;
   left: 250px;
}


.position_box2{
    background-color: gray;
    height:50px;
    width: 100px;
    position: sticky;
    top: 1px;;
    right: 0px;
    margin-left: 20px;

}


.position_box3{
    background-color: gray;
    height:50px;
    width: 100px;
    margin: 10px;
    position: sticky;
   bottom: 1px;
    left: 100px;
    

}
