* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.box1 {
  height: 100px;
  width: 100px;
  background-color: blue;
  position: relative;
  animation: box1 5s linear infinite 0.2s alternate;
  text-align: center;
  padding: 30px;
  margin: 20px 40px;
}
@keyframes box1 {
  0% {
    top: 0px;
    left: 0px;
    transform: rotate(0turn);
  }
  25% {
    top: 0;
    left: 500px;
    border-radius: 5%;
    background-color: red;
  }
  50% {
    top: 350px;
    left: 500px;
    border-radius: 15%;
    background-color: yellow;
  }
  75% {
    top: 350px;
    left: 0px;
    border-radius: 10%;
    background-color: rgba(209, 21, 187, 0.146);
  }
  100% {
    top: 0;
    left: 0;
    border-radius: 100%;
    background-color: blue;
    transform: rotate(10turn);
  }
}

.box2 {
  height: 100px;
  width: 100px;
  background-color: blue;
  position: relative;
  animation: box2 2s ease-in-out infinite alternate;
  text-align: center;
  padding: 30px;
  margin: 40px;
}
@keyframes box2 {
  0% {
    top: 0px;
    left: 0px;
    background-color: blue;
    transform: rotate(0turn);
    border-radius: 0%;
  }
  100% {
    top: 0px;
    left: 800px;
    background-color: red;
    transform: rotate(7turn);
    border-radius: 50%;
  }
}

/* 
.box3{
    border: 2px solid rgb(242, 6, 6);
    display:inline-block;
    margin: 20px 300px;
    border-radius: 100%;
    animation: icon1 0.6s linear infinite;
    

}
@keyframes icon1{
    0%{
        padding: 0PX;
        
    }
    25%{
        padding: 5px ;
        border: 5px solid rgba(255, 0, 0, 0.857);
       
    }
    50%{
        padding: 10px;
        border: 5px solid rgba(255, 0, 0, 0.668);
        
    }
    75%{
       padding: 15px;
       border: 5px solid rgba(255, 0, 0, 0.379); 
       
    }
    100%{
        padding: 20px;
        border:5px solid rgba(255, 0, 0, 0.122);
    }
}

.icon1{
   font-size: 8em;
   color: red;
   text-align: center;
  /* margin: 50px 300px; 
   border: 2px solid red;
   border-radius: 100px;
    

} */
/* 
@keyframes icon1{
    0%{
        border: 3px solid red;
        padding: 0px ;
        box-shadow: 0px 0px 25px rgba(255, 0, 0, 0.929) inset;
    }
    100%{
        border: 3px solid red;
        padding: 20px;
        
    }
} */

section {
  display: flex;
  justify-content: space-between;
  padding: 80px 100px;
  gap: 20px;
  .box4 {
    flex: 1;
  }
  .box5 {
    flex: 1;
  }
  .box7 {
    flex: 1;
    img {
      width: 100%;
    }
  }
}

.box4 {
  i {
    color: white;
    background-color: #ffd700;
    font-size: 35px;
    text-align: center;

    border-radius: 100px;
  }
}

i{
  color: white;
  background-color: #ffd700;
  font-size: 35px;
  text-align: center;
  padding: 20px;
  border-radius: 100px;
  /* border: 3px solid black; */
  animation: iconbox 1s linear 0px;
}
@keyframes iconbox {
  0% {
    border: 5px solid white;
    box-shadow: 0px 0px 0px white;
    transform: translate(3px, 3px);
  }
  33% {
    border: 5px solid rgba(255, 255, 255, 0.674);
    box-shadow: 0px 0px 5px white;
    transform: translate(7px, 7px);
  }
  66% {
    border: 5px solid rgba(255, 255, 255, 0.377);
    box-shadow: 0px 0px 10px white;
    transform: translate(12px, 12px);
  }
  100% {
    border: 5px solid rgba(255, 255, 255, 0.075);
    box-shadow: 0px 0px 10px white;
    transform: translate(17px 17px);
  }
}

.box4a {
  background-color: rgba(242, 220, 220, 0.588);
  text-align: center;
  padding: 20px 0px;
  border-radius: 10px;
  box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.616);
  transition: all 1s linear 0.1s;
  animation: shadowbox 2s linear 0.003s;
}

.box4a:hover {
  transform: scale(1.1, 1.11);
  background-color: #0c4b48;
  color: white;
  font-weight: 600;
}

.box5 {
  border-radius: 20px;
  border: 2px solid black;
  background-color: #064a0ce4;
  animation: movingbox 8s linear infinite 0s alternate;
}

@keyframes movingbox {
  from {
    transform: rotate(0turn);
    background-color: #064a0ce4;
  }
  to {
    transform: rotate(5turn);
    background-color: red;
  }
}

.box6 {
  height: 50px;
  width: 50px;
  background-color: goldenrod;
  border-radius: 30px;
  margin: 40px 20px;
}

.box7 {
  height: 200px;
  width: 200px;
  background-image: url(./mern-stack-course-and-training.jpg);
  background-position: center center;
  background-size: cover;
  color: white;
  font-family: sans-serif;
  font-size: 1.4rem;
  padding: 0px 30px 20px 30px;
  p {
    text-align: center;
    padding: 17px 0px;
    background-color: rgba(4, 76, 121, 0.886);
    padding: 50px 20px;
    transition: all 0.6s linear;
    /* visibility:hidden;
        opacity: 1; */
  }
}
.box7 p:hover {
  transform: rotateY(180deg);
  /* visibility:visible;
    opacity: 2; */
}

.loader1 {
  height: 150px;
  width: 150px;

  border-radius: 50%;
  border: 8px solid;
  border-color: blue transparent;
  animation: loaderbox 1s linear infinite;
}
@keyframes loaderbox {
  to {
    transform: rotate(360deg);
  }
}

.loader_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 100px;
}

.loader2 {
  height: 150px;
  width: 150px;
  border: 8px solid;
  border-color: black black black transparent;

  border-radius: 50%;
  animation: loader2 0.6s linear infinite;
}

@keyframes loader2 {
  to {
    transform: rotate(360deg);
  }
}

.loader3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.loading {
  height: 40px;
  width: 8px;
  background-color: black;
  animation: loading 1s linear infinite alternate;
}
@keyframes loading {
  to {
    transform: scaleY(3);
  }
}
#box1 {
  background-color: #ffd700;
  animation: scalebox 0.3s linear infinite 0s alternate;
}
#box2 {
  background-color: #2bff00;
  animation: scalebox 0.3s linear infinite 0.3s alternate;
}
#box3 {
  background-color: #2200ff;
  animation: scalebox 0.3s linear infinite 0.6s alternate;
}
#box4 {
  background-color: #f700ff;
  animation: scalebox 0.3s linear infinite 0.9s alternate;
}
#box5 {
  background-color: #ff0015;
  animation: scalebox 0.3s linear infinite 1.2s alternate;
}
@keyframes scalebox {
  to {
    transform: scaley(3);
  }
}

.loader4 {
  height: 150px;
  width: 150px;
  border: 8px solid;
  border-color: rgb(255, 0, 21) transparent;
  border-radius: 50%;
  animation: loadingbox 3s linear infinite;
}

@keyframes loadingbox {
  to {
    transform: rotate(2turn);
  }
}

.loader_box4a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#loaderbox1 {
  height: 150px;
  width: 150px;
  border: 8px solid;
  border-color: green transparent transparent transparent;
  border-radius: 100%;
  animation: loaderboxcoad 3s linear infinite 0s;
  margin: 10px;
}

#loaderbox2 {
  height: 130px;
  width: 130px;
  border: 8px solid;
  border-color: red transparent transparent transparent;
  border-radius: 100%;
  animation: loaderboxcoad 3s linear infinite 0.01s;
}
#loaderbox3 {
  height: 100px;
  width: 100px;
  border: 8px solid;
  border-color: rgb(8, 112, 116) transparent transparent transparent;
  border-radius: 100%;
  animation: loaderboxcoad 3s linear infinite 0.02s;
}
@keyframes loaderboxcoad {
  to {
    transform: rotate(2turn);
  }
}

/* .my_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 100px;
  background-color: lightcyan;
  gap: 20px;
}

article {
  flex: 1;
  animation: articlebox 1s linear 1s ;
}

@keyframes articlebox{
    from{
        margin-left:-100%;
        overflow: hidden;
        opacity: 0;

    }
    to{
        margin-left:0% ;
        overflow: visible;
        opacity: 1;
    }
}


aside {
  flex: 1;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.293);
    position: relative;

  img {
    width: 100%;
  }
} */








.play_box{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid ; */
    position: relative;
    padding: 50px;
    i{
        color:black;
        background-color: white;
        font-size: 100px;
        
    }
}

.play_loader{
    border:4px solid black;
    position: absolute;
    border-radius: 50%;
    height: 100px ;
    width: 100px;
}
#play_loader_box2{
    animation: play_loader 4s linear infinite 0.0s ;
}
#play_loader_box1{
    animation: play_loader 4s linear infinite 2s 
}
@keyframes play_loader{
    from{
        transform: scale(1, 1);
        opacity: 1;
    }
    to{
        transform:scale(1.9,1.9);
        opacity: 0;
    }
}



.circluate_box{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px auto;
  position: relative;
  i{
    height: 200px;
    width: 200px;
    
  }
}

.border22{
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  border: 3px solid;
}
#border33{
  animation: mobilesearch 6s linear infinite 0s ;
}
#border44{
  animation: mobilesearch 6s linear infinite 3s;
}

@keyframes mobilesearch{
  to{
    transform:scale(2);
    opacity: 0;
  }

}