*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 80px;
    margin: 20px;
    perspective: 800px , 4, 360deg;
}
.box{
    border: 2px solid black;
    height:200px;
    width:200px;
    padding: 20px;
    text-align:center;
    border-radius: 7px;
    
}


.box1{
    transition: all 5s ease-in-out 0.4s;
    background-color: rgb(14, 123, 196);
}

.box1:hover{
    /* transform:translatex(20px);
    transform:translatey(50px);
    transform:translatez(60px); */
    /* transform:translate3d(50px, 40px, 60px); */
    transform:translate(500px,-30px );
    background-color: brown;
    border-radius:50%;
    text-align: center;
    box-shadow:0px 0px 
    
   
}

.box2{
    transition:all 1s linear 0.4s;
    background-color:rgb(120, 15, 118);
}

.box2:hover{
    /* transform:scale(.8, .9); */
    background-color: chocolate;
    transform:scale(2.1 , 1.1);
}

.box3{
    transition:all 180s ease-in-out 1s;
    background-color:gray
}
.box3:hover{
    background-color: yellow;
    transform:rotate(40deg);
    transform:rotate(36000000deg);
    border-radius: 50%;
}

.box4{
    transition:all 2s linear 0.1s;
    background-color: pink;
}
.box4:hover{
    transform:skewy(40deg);
    box-shadow: 0px 0px 10px black;
}
.box5{
    transition:all 4s linear 0.2s;
    background-color: yellow;
}
.box5:hover{
    /* transform: translate(50px 40px) rotate(50deg ) scale(2, 2.4 ); */
    transform:translateX(560px);
    background-color: brown;
    border-radius:50%; 
}

.box6{
    transition:all 5s linear 0.4s;
    background-color: orange;
}
.box6:hover{
    transform:translateY(540px);
    background-color:blue;
    border-radius:50%;
}

.box7{
    transition:all 4s linear 0.8s ;
    background-color: aquamarine;
}
.box7:hover{
    transform:translateZ(200px);
    border-radius: 100px;
    background-color: darkmagenta;

}

.box8{
    transition:all 7s linear 1s;
    background-color: teal;
    border-radius:20px;
}
.box8:hover{
    transform:translate3d(-350px, 100px , 300px);
    border-radius:200px;
    background-color:tomato
}


.box9{
    transition:all 14s linear 2s;
    background-color:burlywood;

}
.box9:hover{
    transform:rotateX(36000deg);
    border-radius: 0px;
    background-color:cornflowerblue;
}

.box10{
    transition:all 15s linear 1s;
    background-color: rgb(138, 197, 138);
}
.box10:hover{
    transform:rotateY(36000deg);
    background-color:rgb(211, 184, 79);
    border-radius: 0px;
}

.box11{
    transition:all 15s linear 2s;
    background-color: darkorange;
}
.box11:hover{
    transform:rotateZ(360000deg);
    background-color: darkgray;
    border-radius: 50%;
}

.box12{
    transition:all 15s linear 1s;
    background-color: rgba(148, 0, 211, 0.571);;
}
.box12:hover{
    transform:rotate(3600deg);
    background-color: cadetblue;
}





.box13{
    transition:all 4s linear  0.6s;
    background-color: aqua;

}
.box13:hover{
    transform:scaleX(1.8);
    border-radius: 10%;
    background-color:burlywood;
}
.box14{
    transition: all 3s linear 0.2s;
    background-color: rgb(96, 96, 127);
    
}
.box14:hover{
    transform:scaleY(1.8);
    background-color: lightsalmon;
    border-radius: 20px;
}
.box15{
    transition:all 2s linear 0.5s;
    background-color: lightskyblue;

}
.box15:hover{
    transform:scale(1.9, 1.5);
    background-color: lightgreen;
}

.box16{
    transition:all 1s linear 1s;
    background-color: lightcoral;
}
.box16:hover{
    transform:scale(0.8)
}


.box17{
    transition:all 2s linear 0.3s;
    background-color: lightcoral;
    
}
.box17:hover{
    transform:skewX(30deg);
    box-shadow: inset 0px 0px 10px black;
    background-color: rgb(77, 127, 176);
}

.box18{
    transition:all 1s linear 0.2s;
    background-color: lightgreen;

}
.box18:hover{
    transform:skewY(30deg);
    background-color: lightskyblue;
    box-shadow: inset 2px 2px 15px black;
    border-radius: 20px;
}

.box19{
    transition: all 1s linear 0.7s;
    background-color: aquamarine;
}
.box19:hover{
    transform:skew(10deg,30deg);
    background-color: lightseagreen;

}