* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mybox {
  height: 150px;
  width: 150px;
  border: 3px dashed red;
  background-color: lightgray;
  margin: 50px;
  position: relative;
  animation: movingbox 4s linear infinite alternate;
}

@keyframes movingbox {
  0% {
    top: 0;
    left: 0;
  }
  20% {
    top: 0px;
    left: 500px;
    transform: scale(2);
  }
  40% {
    top: 0px;
    left: 500px;
    transform: scale(1);
  }
  60% {
    top: 300px;
    left: 500px;
    transform: rotate(45deg);
    transform: rotate(1turn) scale(0.2);
    background-color: red;
  }
  80% {
    top: 300px;
    left: 0;
    border-radius: 50%;
  }
  100% {
    top: 0;
    left: 0;
  }
}

.image {
  height: 500px;
  margin: 100px;
  border-radius: 50%;
  animation: restorn 20s linear infinite;
}

@keyframes restorn {
  /* 0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    } */

  from {
    transform: rotate(0def);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  display: inline-block;
  margin: 20px;
  position: relative;
  animation: movingtext 2s steps(4) infinite alternate;
}
@keyframes movingtext {
  from {
    left: 0;
  }
  to {
    left: 800px;
  }
}

.loader {
  height: 150px;
  width: 150px;
  border: 8px solid;
  margin: 50px;
  border-color: blue transparent;
  border-radius: 50%;
  animation: loader 1s linear infinite;
}

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}

.processing {
  display: flex;
  justify-content: center;
  padding: 100px;
  gap: 10px;
}

.column {
  height: 30px;
  width: 8px;
}
#col1 {
  background-color: blue;
  animation: scalebox 1s linear infinite alternate;
}
#col2 {
  background-color: rgb(0, 255, 136);
  animation: scalebox 1s linear infinite 0.2s alternate;
}
#col3 {
  background-color: rgb(255, 0, 212);
  animation: scalebox 1s linear infinite 0.4s alternate;
}
#col4 {
  background-color: rgb(255, 208, 0);
  animation: scalebox 1s linear infinite 0.6s alternate;
}
#col5 {
  background-color: rgb(255, 17, 0);
  animation: scalebox 1s linear infinite 0.8s alternate;
}

@keyframes scalebox {
  to {
    transform: scaleY(4);
  }
}

.yt-box {
  border-radius: 50%;
  background-color: red;
  margin: 150px auto;
  height: 150px;
  width: 150px;
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.border {
  position: absolute;
  height: 100%;
  width: 100%;
  border: 5px solid red;
  border-radius: 50%;
}

#border1{
  animation: tybox 6s linear infinite;
}
#border2{
  animation: tybox 6s linear infinite 3s;
}

@keyframes tybox{
  to{
    transform: scale(2);
    opacity: 0;
  }
}