*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.931);
     position: relative;
}
.text_animation {
   
    border: 2px solid rgba(121, 99, 99, 0.351);
    margin: 50px  20px;
    padding: 20px 10px;
    width: 95%;
    font-family:sans-serif;
    background-color: rgba(0, 0, 0, 0.352);
    position: absolute;
    box-shadow: inset 0px 0px 20px white;
    overflow:hidden
}
p{
    
    color: white;
    border-radius: 10px;
    visibility: visible;
    
    font-size: 1.6rem;
    margin: 0px 10px;
    animation: textbox 7s linear infinite 0s ;
    
}
@keyframes textbox{
    from{
        transform:translatex(-90%);      
    }
    to{
        transform:translatex(100%);
    }
}