@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');

body{
    background-color: antiquewhite;
}
*{
    margin:0;
    padding:0;
}

nav ul{
    font-family: "Varela Round", sans-serif;
    background-color: black;
    height:60px;
    display:flex;
    color:white;
    align-items:center;
}
nav ul li{
    list-style: none;
    padding:0px 15px;  
}

.brand img{
    height: 45px;
    padding:0px 8px;
}
.brand{
    display:flex;
    align-items:center;
    font-size: 1.4rem;  
}

.contanner{
    min-height:72vh;
    background-color: black;
    color: white;
    font-family: "Varela Round", sans-serif;
    display: flex;
    margin: 23px auto;
    width:70%;
    border-radius:12px;
    padding:34px;
    background-image: url("bg.jpg");
    background-size:cover;
    
}

.bottom{
    background-color: black;
    bottom:0;
    position:sticky;
    height:110px;
    display:flex;
    justify-content: center;
    align-items:center;
    color: white;
    flex-direction: column;
}

.icons{
    margin:17px;
    cursor:pointer;
}

#myProgressBar{
    width:90vh;
    cursor: pointer;
}


.songItem img{
    height:40px;
    padding-top:1px;
    border-radius:60px;
    margin: 0px 20px;
}
.songItem{
    height:60px;
    background-color: white;
    color:black;
    text-align: center;
    border-radius:35px;
    margin:10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.songitemcontanner{
    margin-top: 39px;
}
.timestamp{
    margin: 0px 25px;
    
}
.timestamp i {
    cursor: pointer;
}
.songinfo{
    position:absolute;
    left:10vw;
     font-family: "Varela Round", sans-serif;
}
.songinfo img{
    opacity: 0;
    transition: opacity 1s ease-in;

}