*{
    padding:0px ;
    margin:0px;
    box-sizing: border-box;
}

body {
  font-family: "Varela Round", sans-serif;
  font-weight: normal;
  font-style: normal;
  position: relative;
}

.heading_box a {
    text-decoration: none;
}

.heading_box{
    background-color: #FFFFFF;
    max-width: 100vw;
    position:fixed;
    top: 0px;
    left: 0px ;
    right: 0px;
    display:flex;
    z-index: 2;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.051);
    /* display:block; */
    justify-content: space-around;
    align-items: center;
    /* padding:20px;   */
    padding:2.1vh  4vw;
}

.logo_box{
    display:flex;
    
    height:1.3em;
    flex-direction: row;
    gap:10px;
    font-weight: bold;    
}

.logo_box a{
    color:black;
    font-size:1.3rem;
    font-weight: bold;
}

.header_box_list{
    display:none;
}

@media screen and (min-width:768px) {
    .header_box_list{
        display:block;
    }
}

ul li {
    max-width: 50vw;
    padding:0.4rem;
}

.header_box_list ul {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.header_box_list ul li a{
    color:black;
    font-weight: bold;
    opacity: 0.6;
    font-size: 0.6rem;
}

.header_box_list ul li a:hover{
    color:rgb(11, 34, 182);
}


.contact-button .contact_button {
    height:2.33em;
    width:7em;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    border-radius: 0.30rem;
    color:rgba(239, 248, 255, 0.938);
    background-color: rgba(0, 0, 255, 0.6666);
    font-size: 0.570rem;
    font-weight: bold;
}

.contact-button .contact_button:hover{
    background-color: rgba(0, 0, 255, 0.9999);
    transition:all 0.2s ease-in-out 0s; 
    color: rgba(239, 248, 255, 0.938); 
    /* font-size: 1.09rem ; */
}


.contact-button{
    display:none;
}
@media screen and (min-width:768px){
    .contact-button{
        display:block;
    }
}

.menu-button{
    height:1.25rem;
    width: 1.25rem;
    border: none;
    display:none;
    background-color: rgba(255, 255, 255, 0.585);
    border:0.007em solid rgba(0, 0, 0, 0.13);
    border-radius: 0.2em;
}

@media screen and (max-width:768px){
    .menu-button{
        display: block;
    }
}



/* 

.maincontainer  {
    max-width:100vw;
    height:70vh;
    padding:5%;
    
}

.maincontainer{
    text-align: center;
    display:flex;
    display:none;
    flex-direction:column;
    justify-content: space-around;
    gap:40px;
}


@media screen and (max-width:768px) {
    .maincontainer{
        display:block;
    }
    
}


.leftbox{
    display:flex;
    flex-direction: column;


    
    gap:26px;
    margin-top: 12vh;
    padding:20px 15vw 20px 15vw ;
    text-align: center;
    animation:slideFrameLeft 1s ease forwards;
    opacity:0;
}


@keyframes slideFrameLeft {
    0%{
        opacity:0;
        transform:translateX(-100%);

    }

    100%{
        opacity:1;
        transform:translateX(0);

    }
    
}

.leftbox .viewbox{
    font-size: 1.2rem;
    font-weight: bold;
    color:rgba(0, 0, 255, 0.637);    
}

.leftbox .headingbox{
    font-size: 2.2rem;
    /* max-width: 100%;  
}


.button-group{
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:20px;

}

.button-group .takefour{
    background-color: rgba(44, 41, 41, 0.9999);
}

.button-group button{
    border:0px;
    height:3em;
    width:9em;
    border-radius: 8px;
    color:rgba(239, 248, 255, 0.938);
    background-color: rgba(0, 0, 255, 0.9999);
    font-size: 1.01rem;
    font-weight: bold;
    
}
.button-group button:hover{
    background-color: rgba(0, 0, 255, 0.6666);
    transition:all 0.2s ease-in-out 0s; 
    color: rgba(239, 248, 255, 0.938); 
}

.button-group .takefour:hover{
    background-color: rgba(44, 41, 41, 0.6666);
    transition:all 0.2s ease-in-out 0s; 
    color: rgba(239, 248, 255, 0.938); 

}

.rightbox{
    display:flex;
    align-items: center;
    justify-content: center;  
}
.image-container{
    border: none;
    border-radius: 1.225rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

.imagescontener{
    height:100%;
    width:100%;
}


@media screen and (min-width:768px){
    .maincontainer{
        display:flex;
        flex-direction:row;
        justify-content: space-evenly;;
    }
    .rightbox{
        padding:5vh 15vw 0vh 0vh;
    }
    .leftbox{
        text-align: left;
        max-width: 50%;
    }
    .button-group{
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
    .leftbox .headingbox{ 
        font-size: 3.5rem;
    }
    .leftbox .viewbox{
        font-size: 0.9rem;
    }
}
*/



.maincontainer{
    max-width: 1280px;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:1rem 12vw  ;
    gap:2rem;
    margin:50px auto;
}

.leftbox{
    text-align: center;
    animation:slideFrameLeft 1s ease forwards;
    opacity:0;
}

@keyframes slideFrameLeft {
    0%{
        opacity: 0;
        transform:translateX(-100%);
    }
    100%{
        opacity:1;
        transform:translateX(0%);
    }
}

.viewbox{
    color:rgba(19, 19, 210, 0.69);
    font-size: 0.6rem;
    font-weight: bold;
}

.headingbox{
    font-size: 1.34rem;
    padding:1.1rem;
}

.paragraph{
    opacity:0.7;
    font-size: 0.87rem;
    width:75vw;
}

.button-group{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding:0.6rem;
    gap: 0.8rem;       
}

@media screen and (max-width:768px) {
    .leftbox{
        padding-top:1.3rem;
    }
    .button-group{
        padding-top:1.3rem;
    }
}

.startnow , .takefour{
    height:2.4em;
    width:4.6rem;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    border-radius: 0.2222rem;
    color:rgba(239, 248, 255, 0.938);
    background-color: rgba(0, 0, 255, 0.6666);
    font-size: 0.60rem;
    font-weight: bold;
    border:none;
}

.takefour{
    background-color: rgba(0,0,0,0.66);
}

.startnow:hover{
    background-color: rgba(0, 0, 255, 0.9999);
}

.takefour:hover{
    background-color: rgba(0,0,0,0.75);
}

.rightbox{
    display:flex;
    align-items: center;
    justify-content: center;  
}

.image-container{
    border-radius: 1.225rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    height:53vh;
}

.imagescontener{
    height:100%;
    width:100%;
}

@media screen and (min-width: 768px) {
    .maincontainer {
        flex-direction: row;
    }
    .leftbox{
        text-align: left;
    }
    .headingbox{
        padding-left:0;
        font-size: 2.1rem;
    }
    .button-group{
        padding:1rem 0 0 0;
        justify-content: left;
        margin-top: 20px;
    }
    .paragraph{
        padding-top:1.0rem;
        width:80%;
        font-size: 0.6rem;
    }
    .image-container{
        height:80Vh;
        width:35vw
    }
    .viewbox{
        font-size: 0.9rem;
    }
}

.company_box{
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    padding-top: 1.4rem;
    opacity:0;
    animation:companyleftbox 1.4s ease forwards;
}

@keyframes companyleftbox{
    0%{
        opacity:0;
        transform:translateX(-100%);
    }
    100%{
        opacity:1;
        transform:translateX(0%);
    }
}

.company_left_box h2{
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 1.1rem;
}

.company_right_box{
    border-radius: 0.2rem;
    display:flex;
    overflow: hidden;
    align-items: center;
    width:50vw;
    background-color: #e5e8ea99;
    margin: 0 30vw;
}

@media screen and (max-width:640px) {
    .company_right_box{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-columns: repeat(2,1fr);
    }   
}

.company_right_box a{
    height:100%;
    width:100%;
    text-decoration: none;
    font-size: 0.6rem;
    color:rgba(0, 0, 0, 0.4);
    font-weight: 800;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:0.9rem;
}

.company_right_box a img{
    padding:0.3rem;   
}

a .vector{
    height:1.34rem;
}

.competitive_advantage{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding:6vh 25.0vw;
    background-color: #e5e8ea99;
    margin-top:5.9vh;
}

.advantage_box h2 {
    font-size: 1.09rem;
    opacity:0.7;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.advantage_box p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.59rem;
    opacity:0.5;
    padding-top: 3vh;
}

.personalized_learning {
    padding:1.5rem;   
}

.learning_box1{
    color:rgba(255, 255, 255, 0.94);
    flex-direction: row;
    background-color:rgb(59, 144, 230);
    padding:0.79rem;
    border-radius: 0.525rem;
}

.personalized_learning{
    display:grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap:0.99rem;
}

@media screen and (max-width:768px){
    .personalized_learning{
        grid-template-rows:repeat(6,1fr) ;
        grid-template-columns:repeat(1,1fr) ;

    }
}

.learning_content_box h3{
    font-size: 0.75em;
    padding-top:0.48rem;

}

.learning_content_box p{
    font-size: 0.558em;
    opacity:0.97;
    padding:0.28rem;
}

.learning_content_box .learning_image_box{
    background-color: aliceblue;
    height:1.9rem;
    width:1.9rem;
    border-radius: 100px;
    padding:0.4rem;
}

.learning_box2{
    color:rgba(255, 255, 255, 0.94);
    flex-direction: row;
    background-color:rgba(229, 11, 51, 0.631) ;
    padding:0.79rem;
    border-radius: 0.525rem;
}

.learning_box3{
    color:rgba(255, 255, 255, 0.94);
    flex-direction: row;
    background-color:rgba(255, 183, 0, 0.865) ;
    padding:0.79rem;
    border-radius: 0.525rem;
}

.learning_box4{
    color:rgba(255, 255, 255, 0.94);
    flex-direction: row;
    background-color:rgba(9, 169, 153, 0.829);
    padding:0.79rem;
    border-radius: 0.525rem;
}


.learning_box5{
    color:rgba(255, 255, 255, 0.94);
    flex-direction: row;
    background-color:rgba(55, 161, 6, 0.67);
    padding:0.79rem;
    border-radius: 0.525rem;
}

.learning_box6{
    color:rgba(255, 255, 255, 0.94);
    flex-direction: row;
    background-color:rgba(83, 34, 160, 0.794);
    padding:0.79rem;
    border-radius: 0.525rem;
}


.teacher_header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border:1px solid black; */
}

.teachers_about {
    padding:1rem 10rem;
}

.teachers_about h2{
    font-size: 1.04rem;
    font-weight: bold;
    padding:1rem;
}

.teacherContainer {
    display:grid;
    grid-template-rows:repeat(1,1fr);
    grid-template-columns: repeat(3, 1fr);
    gap:1rem;
}
.teacher_information{
    border: 0.068rem solid rgba(0, 0, 0, 0.115);
    border-radius: 0.235rem;
    padding:0.6rem;
}

.teacher_summary{
    font-weight:bold;
    font-size: 0.48rem;
    opacity:0.6;
    color:black;
}
.teacher_image img{
    height:3rem;
    margin:0.4rem;
}

.teacher_name{
    font-size: 0.55em;
}

.teacher_name h3{
    color:rgba(9, 9, 187, 0.871);
}

.teacher_experiences{
    font-weight: 900;
    font-size: 0.54rem;
    opacity:0.5;
    padding:0.12rem;
    color:black;
}


.teacher_information:hover{
    box-shadow: 1px 1px 6px ;
    color: #2227c3;
    color: linear-gradient(0deg, rgba(34, 39, 195, 1) 32%, rgba(253, 187, 45, 1) 100%);
    transition:all 0.4s ease 0s;
    border: 0.068rem solid rgba(255, 255, 255, 0.115);
    transform:scale(1.01,1.01);
}

@media screen and (max-width:768px) {
    .teacherContainer {
        grid-template-rows:repeat(3,1fr);
        grid-template-columns: repeat(1, 1fr);
        gap:1rem;

    }
    
}



.notificationbox{
    display: flex;
    flex-direction: row;
    /* border:1px solid black; */
    padding:1rem 9rem;
    align-items: center;
    justify-content: center;
}


.notification_contant{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    /* border:1px solid black; */
    background-color: rgba(220, 220, 220, 0.595);
}

.notification_contant_box{
    display:flex;
    text-align: center;
    justify-content: center;
}

.notification_image{
    overflow: hidden;
    border-radius: 1.112rem;
    
    
}

.notimg{
    height:100%;
}



.notification_text{
    padding:2rem;
}
.notheading{
    font-size:1.3rem;
    color:rgba(4, 0, 249, 0.882);
}

.notparagraph{
    font-size: 0.6rem;
    font-weight:400;
    opacity: 0.6;
}

.notification_input{
    width:9vw;
    font-size:0.44rem;
    font-weight:bold;
    padding:0.3rem;
    opacity:0.7;
    border:1px solid rgba(0, 0, 0, 0.22);
}

.notification_btn{
    font-size: 0.4rem;
    padding:0.2rem 0.5rem;
    background-color: #070ee0b5;
    color:azure;
    border-radius:0.1rem;
    border:none;
}

.notification_paragraph{
    font-size:0.45rem;
    opacity:0.6
}

@media screen and (max-width:800px) {
    .notification_contant{
        flex-direction:column;
    }
    .notificationbox{
        justify-content: center;
        text-align: center;
    }   
}








/* We will try in grid concept */
.top_footer{  
    /* display:grid;  
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(2, 1fr); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:2rem;
}


/*                      left Footer Createv                             */
.left_footer{
    display:flex;
    flex-direction: column;
    padding:0rem 4rem;
}
.left_footer_image_heading{
    display:flex;
}
.left_footer_image_heading{
   height:1.1rem;
}
.footerPara{
    font-size: 0.9rem;
    padding-left:0.3rem;
}
.left_footer_paragraph{
    font-size: 0.6rem;
    font-weight: bolder;
    padding:0.9rem 0rem;
    opacity:0.5;
    min-width:12rem;
}

.left_footer_image {
    display:flex;
    flex-direction: row ;
    width:10vw;
    justify-content: space-around;
}

.left_footer_image .footer_image_box{
    height:0.9rem;
    
}


.right_footer{
    max-width: 60vw;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;   
    /* border:1px solid black; */
    width:70vw
}  
    
.right_footer  .right_heading_footer{
    font-size: 0.7rem;
}

.footer_list{
    list-style: none;
    font-size:0.6rem;
    font-weight:bold;
}

.footer_ancker{
    color:rgba(0, 0, 0, 0.418);
    text-decoration:none; 
    transition:all 0s ease 0.1s; 
}

.footer_ancker:hover{
    text-decoration:underline;
    transition:0.2s;
    color:rgba(0, 0, 0, 0.518);
}


.right_heading_footer{
    padding:0rem 0rem 0.9rem 0.5rem;
    
}


@media screen and (max-width:768px){
    .top_footer{
        flex-direction: column;
    }
    .left_footer{
        padding-bottom:2rem;    
    }
   
}

@media screen and (max-width:500px){
     .right_footer{
        display:grid;
        grid-template-columns: repeat(3,1fr);   
    }
}

@media screen and (max-width:400px){
     .right_footer{
        display:grid;
        grid-template-columns: repeat(2,1fr);   
    }
}

@media screen and (max-width:300px){
     .right_footer{
        display:grid;
        grid-template-columns: repeat(1,1fr);   
    }
}































































































































































.horizental{
    margin:0rem 5rem;
    opacity:0.4;
    
}

.down_footer{
    text-align:center;
    font-size:0.5rem;
    font-weight: bold;
    opacity: 0.5; 
    padding:0.9rem; 
}