* {
  padding: 0px;
  margin: 0px;
  border-radius: border-box;
}
body {
  font-family: sans-serif;
  /* position: relative; */
}
.heading_box_only {
  color: #44d89e;
}
.paragraph_box_only {
  color: #c8c9ca;
  margin: 25px 0px;
  text-transform: uppercase;
}
.header_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 10px ;
  background-color: white;
  position:fixed;
  top:0px;
  left: 0px;
  right:0px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.121);
  h1 {
    font-size: 22px;
  }
  .nav_box {
    display: flex;
    gap: 30px; 
    a {
      text-decoration: none;
      color: inherit;
      font-weight: bold;
      font-size: 13px;
    }
    a:hover {
      color: #71818c;
    }
  }
}
.menu_box{
  display: none;
  font-size: 22px;
  padding: 10px;
}

.heros_section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 100px;
  margin:70px 0px;
  gap: 50px;
  color: white;
  background: #20b0e8;
  background: linear-gradient(
    90deg,
    rgba(32, 176, 232, 1) 38%,
    rgba(32, 176, 232, 1) 22%,
    rgba(87, 199, 133, 1) 100%,
    rgba(237, 221, 83, 1) 100%
  ); 
}
.heros_section article {
  flex: 1;
  h2 {
    font-size: 56px;
    font-weight: 400;
  }
  h1 {
    font-size: 60px;
    padding: 20px 0px 30px 0px;
  }
  p {
    margin: 0px 0px 25px 0px;
    line-height: 1.2;
  }
  a {
    padding: 10px 25px;
    border-radius: 20px;
    text-decoration: none;
    color: #44d89e;
    background-color: white;
  }
}
.heros_section aside {
  flex: 1;
  img {
    width: 100%;
  }
}
.about_section {
  display: flex;
  padding: 80px 100px;
  gap: 25px;
}
.about_section article {
  flex: 1;
  .about_paragraph_heading {
    color: #cccccc;
    text-transform: uppercase;
  }
  h1 {
    color: #44d89e;
    margin: 30px 0px;
  }
  .about_p {
    color: #486066;
    line-height: 1.7;
    font-size: 13px;
  }
  .profile_box {
    display: flex;
    margin: 30px 0px;
    gap: 20px;
    img {
      border-radius: 100px;
      height: 40px;
      width: 40px;
    }
  }
  b {
    margin-left: 60px;
    color: #666666;
  }
}
.about_section aside {
  flex: 1;
  img {
    width: 100%;
  }
}
.out_classes_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafbfc;
  padding: 50px 0px;
  .out_class {
    color: #c8c9ca;
    margin: 25px 0px;
    text-transform: uppercase;
  }
  h1 {
    color: #44d89e;
  }
}
.button {
  text-decoration: none;
  color: #44d89e;
  padding: 10px 20px;
  border: 2px solid #44d89e;
  border-radius: 30px;
}
.out_classes_box article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  padding: 50px 100px;
  .card_box {
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 35px rgba(0, 0, 0, 0.122);
    transition:all 0.2s linear 0.1s;
    
    img {
      margin: 15px 0px;
      transition:all 0.3s linear 0.1s;
    }
    img:hover{
      transform:scale(1.1,1.1);
    }
    h3 {
      margin: 20px 0px;
      color: #486066;
    }
    p {
      color: #486066;
      line-height: 1.6;
      font-size: 0.997em;
    }

  }
  .card_box:hover{
    transform:scale(1.01,1.01);
    z-index: -1;
  }
}

.choose_box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #f9bf71;
  gap: 30px;
  padding: 80px 100px;
}
.choose_box article {
  flex: 1;
  padding: 40px 0px;
  .art_box {
    text-transform: uppercase;
    color: #c79a5a;
  }
  h1 {
    font-size: 40px;
    padding: 0px 0px;
    line-height: 1.5;
  }
  p {
    line-height: 30px;
    font-size: 15px;
    margin: 30px 0px;
  }
  a {
    text-decoration: none;
    color: inherit;
    padding: 10px 20px;
    background-color: white;
    color: #44d89e;
    border-radius: 40px;
  }
}
.choose_box aside {
  flex: 1;
  img {
    width: 100%;
  }
}


.feature_of_yoga {
  text-align: center;
  padding: 100px 0px;
}
.feature_of_yoga_box {
  display: flex;
  padding: 30px 100px;
  gap: 20px;
  .feature_yoga_left_box {
    flex: 1;
  }
  .feature_yoga_mid_box {
    flex: 1;
    img {
      width: 70%;
      padding: 30px;
    }
  }
  .feature_yoga_right_box {
    flex: 1;
  }
}
.yoga_left_box_container {
  margin: 30px;
}
.yoga-image_box {
  margin-bottom: 10px;
}
.yoga-heading_box {
  font-size: 17px;
  margin: 20px 0px;
  color: #486066;
}
.yoga-paragraph_box {
  font-size: 13px;
  line-height: 25px;
  color: #486066;
}


.yoga_expert_team {
  background-color: #fafbfc;
  text-align: center;
  padding: 100px 80px;
}
.photoes {
  width: 100%;
  /* transition:all 0.1s linear 0.1s; */
}
/* .photoes:hover{
  transform:scale(0.9,0.9);
} */

.yoga_expert_team_box {
  display: flex;
  gap: 30px;
  margin: 40px 0px;
  background-color: #ffffff;
  
}
.yoga_expert_team_container {
  padding: 20px;
  box-shadow: 1px 1px 35px rgba(0, 0, 0, 0.122);
  transition:all 0.2s linear 0.2s;
}
.yoga_expert_team_container:hover{
  transform:translate(0px, -10px);
}
.extpert_team_name {
  color: #486066;
  font-size: 17px;
  font-weight: 550;
  margin: 15px 0px;
}
.team_coach {
  color: #aaaaaa;
  font-size: 13px;
  font-weight: 500;
}
.team_coach_information {
  color: #666666;
  font-size: 13px;
  line-height: 25px;
  margin: 10px 0px;
}
.icons {
  color: #44d89e;
  margin: 20px;
  i {
    padding: 0px 10px;
  }
}
.yoga_texting_team {
  background-color: #26dfb5;
  padding: 100px 80px;
  text-align: center;
  .yoga_p {
    color: #20b292;
    text-transform: uppercase;
    font-size: 0.911rem;
    letter-spacing: 0.1em;
  }
  h1 {
    color: white;
    font-size: 40px;
    margin: 40px 0px;
  }
}
.yoga_texting_team_content {
  display: flex;
  gap: 25px;
  padding: 0px 50px;
}
.cart_box {
  background-color: white;
  padding: 20px;
  text-align: start;
  color: #486066;
  border-radius: 5px;
  p {
    line-height: 30px;
    font-size: 15px;
  }
  h2 {
    padding: 40px 0px 0px 0px;
    font-size: 15px;
  }
}

.yoga_blog_box {
  background-color: #fafbfc;
  padding: 100px 80px;
  .paragraph_box_only {
    text-align: center;
  }
  .heading_box_only {
    text-align: center;
  }
}

.yoga_blog_container_box {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 50px 50px;
  .yoga_blog_cart {
    flex: 1;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.083);
    img {
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    h1 {
      font-size: 18px;
      font-weight: lighter;
      color: #486066;
      margin: 22px;
    }
    h2 {
      font-size: 13px;
      color: #c9c9c9;
      text-transform: uppercase;
      margin: 0px 20px;
      font-weight: 400;
    }
    p {
      margin: 10px 22px;
      line-height: 25px;
      font-size: 15px;
      color: #486066;
    }
  }
}
li,
a {
  text-align: center;
  list-style: none;
}


.friend {
  padding: 100px 0px;
  h1 {
    text-align: center;
    margin: 20px 0px;
  }
  div {
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    /* padding: 20px; */
    img {
      width: 100%;
      border: 1px solid rgba(0, 0, 0, 0.179);
    }
  }
}



.yoga_last_box {
  display: flex;
  justify-content: flex-start;
  background: #2a7b9b;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 0%,
    rgba(83, 211, 237, 1) 87%
  );
  padding: 100px;
  gap: 20px;
}
.yoga_last_box .yoga_last_box_left {
  flex: 1;

  h1 {
    color: white;
    font-size: 30px;
    padding: 20px 0px;
  }
  p {
    color: #d3f8f6;
    line-height: 30px;
    font-size: 17px;
  }
}
.yoga_last_box .yoga_last_box_right {
  flex: 1;
  padding: 20px 0px;
  li {
    list-style: none;
    margin: 20px 0px;
    line-height: 40px;
    a {
      text-decoration: none;
    }
    .become_mobile {
      color: white;
      padding: 10px 20px;
      border: 2px solid white;
      text-transform: uppercase;
      border-radius: 40px;
    }
    .become_laptop {
      color: #44d89e;
      background-color: white;
      padding: 10px 20px;
      text-transform: uppercase;
      border-radius: 40px;
    }
  }
}
footer {
  background-color: #171717;
  color: #575656;
  display: flex;
  justify-content: space-between;
  padding: 17px 100px;
  p {
    font-size: 13px;
  }
  div {
    i {
      font-size: 25px;
      padding: 0px 20px;
    }
  }
}




@media screen and (max-width:950px){
  .menu_box{
    display: block;    
  }
  .nav_box a,i{
    display: none;
  }
  .heros_section{
    flex-direction: column;
    padding: 80px 50px;
  }
  .about_section{
    flex-direction: column;
  } 
  .out_classes_box{
    article{
      flex-direction: column;
      padding: 50px 140px;
    }
  }
  .choose_box{
    flex-direction: column;
    article{
      padding: 40px 0px ;
    }
  }
  .feature_of_yoga_box{
    flex-direction: column;
    padding: 40px 50px;
  }
  .yoga_expert_team_box{
    flex-direction: column;
    margin: 30px 50px;
  }
  .yoga_texting_team{
    padding: 40px 50px;
  }
  .yoga_texting_team_content{
    flex-direction: column;
  }
  .yoga_blog_box{
    padding: 40px 50px;
  }
  .yoga_blog_container_box{
    flex-direction: column;
  }
  .friend{
    padding: 50px 30px ;
    div{
      flex-direction: column;
      gap: 5px;
      .box234{
        padding: 0px 200px;
      }
    }
  }
  .yoga_last_box{
    flex-direction: column;
    padding: 60px;
  }
  footer{
    flex-direction: column;
    gap: 20px;
    align-items:  center;
    padding: 17px 70px;

  }

}
@media screen and (max-width:550px) {
  .heros_section{
   padding: 80px 30px;
  }
  .about_section{
    padding: 80px 30px;
  }
   .out_classes_box{
    article{
      flex-direction: column;
      padding: 50px 40px;
    }
  }
  .choose_box{
    padding: 0px 30px;
    
  }
  .feature_of_yoga_box{
    padding: 40px 30px;
  }
  .yoga_expert_team{
    padding: 40px 10px;
  }
  .yoga_expert_team_box{
    margin: 40px 30px;
  }
  .yoga_texting_team{
    padding: 40px 10px;
  }
  .yoga_blog_box{
    padding: 40px 20px;
  }
  .friend{
    padding: 25px 20px;
    div{
      .box234{
        padding: 0px 50px;
      }
    }
  }
  .yoga_last_box{
    padding: 30px;
  }
  footer{
    padding: 10px 30px;
  }
}

@media screen and (max-width:300px){
  .icons i{
    display: block;
    padding: 5px 0px;
  }
  .yoga_blog_box{
    padding: 20px 0px;
  }
  footer{
    padding: 5px 15px;
    div{
      i{
        font-size:15px;
      }
    }
  }
}
