* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* a{
        text-decoration: none;
        color: inherit;
      }
      header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 35px;

        div img {
          height: 50px;
        }
      }
      header div {
        display: flex;
        align-items: center;
        gap: 30px;

        button{
            padding: 10px 25px;
        }
      }
      .header-logo {
        display: flex;
        align-items: center;
        gap: 5px;
      } */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  padding: 10px 65px;
}

.navbar img {
  height: 35px;
}

a {
  text-decoration: none;
  color: inherit;
}

.navigation {
  display: flex;
  gap: 20px;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 100px;
  gap: 50px;
  background-color: #1cbde5;
  color: white;
}

.hero-section article {
  flex: 1;

  h2 {
    font-size: 35px;
    font-weight: 500;
  }
  h1 {
    font-size: 50px;
    margin: 15px 0px;
  }

  p {
    margin: 20px 0px;
    line-height: 2;
  }

  button {
    padding: 15px 40px;
    border-radius: 40px;
    border: none;
    color: rgb(73, 207, 158);
    text-transform: uppercase;
  }
}
.hero-section aside {
  flex: 1;

  img {
    width: 100%;
  }
}

.navbar{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}

.about_box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding: 50px 20px;
  margin-top: 60px;
}
.about_left_box {
  flex: 1;
  img {
    width: 100%;
    height: 320px;
  }
  position: relative;
  top: 0px;
  right: 0px;
}

.about_container_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  align-items: flex-end;
  gap: 20px;
  div {
    height: 90px;
    width: 200px;
  }
}

.about_container_box1 {
  background-color: #171f32;
  padding: 25px;
  border-radius: 6px;
  i,
  p {
    color: white;
  }
}
.about_container_box1:hover {
  background-color: #f4bd01;
}

.box1 {
  position: absolute;
  top: -25px;
  right: 0px;
  z-index: 0;
}

.box2 {
  position: absolute;
  top: 110px;
  right: 0px;
  z-index: 0;
}

.box3 {
  position: absolute;
  bottom: -25px;
  right: 0px;
  z-index: 0;
}

.about_right_box {
  flex: 1;
  padding: 20px;
  h1 {
    font-size: 35px;
    padding: 20px 0px;
  }
  p {
    line-height: 29px;
    color: #333333a9;
    font-size: 17px;
  }
}


.courses_box{
  padding: 80px 50px;
  background-color: #F3F8F9;
  h1{
    text-align: center;
    font-size: 35px;
    padding: 30px 0px;
  }
}


.courses_card{
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  gap: 30px;
  flex-wrap: wrap;

  .card{
    
    border: 1px solid black;
    background-image: url(./mern-stack-course-and-training.jpg);
    background-position: center center;
    background-size: cover;
    color: white; 
    padding: 20px 25px;
  }
  h2{
    padding: 150px 25px 20px 25px ;
    background-color: #112b5a74;
    box-shadow: 0px 0px 15px #112b5af0;
    transition: all 0.5s linear 0s ;
   
  }

  h2:hover{
    transform: rotateY(180deg);   
    
  }

}





.top_featured{
  background-color: #F3F8F9;
  padding: 50px 100px;
}
.featured_article{
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  gap: 30px ;
}
.featured_card{
 
  margin: 20px 0px;
  background-color: #FEFEFE;
  border-radius: 10px ;
  padding: 50px 20px;
  transition:all 1s linear;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.422);
  i{
    margin: 20px 0px;
    border-radius: 100%;
    padding: 16px  20px;
    font-size: 40px;
    background-color: #FFBE00;
    color: white;
  }
  p{
    font-size: 20px;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.755);
  }
}

.featured_card:hover{
  transform:scale(1.1, 1.1);
  background-color: #01273A;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.937);
  p{
    color: white;
  }
}


/* @keyframes boxcard {
  from{
    transform:scale(1 , 1);

  }
  to{
    transform:scale(1.2,1.2);
  }
} */





/* .featured_card:hover{
  transform
} */